{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "useTabs": false,
  "printWidth": 120,
  "singleAttributePerLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "overrides": [
    {
      "files": ["**/*.php"],
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": ["**/*.scss"],
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": ["**/*.css"],
      "options": {
        "singleQuote": false
      }
    }
  ],
  "plugins": ["prettier-plugin-tailwindcss", "@prettier/plugin-php"],
  "pluginSearchDirs": ["./node_modules"]
}
